@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fredoka One', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

.editor-container {
  position: relative;
  width: 100%;
  max-height: 500px;
  height: 100%;
  min-height: 500px;
  transition: 0.3s;
  overflow: hidden;
}



.top-pen {
  height: 505px;
}

.active {
  width: 6000px;
  height: 100%;
}

.top-pen> :nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.248);
}

.top-pen> :nth-child(2) {
  border-right: 1px solid rgba(255, 255, 255, 0.248);
}


img {
  -webkit-user-drag: none;
}

.draggable {
  /* Indicate the element draggable */
  cursor: move;

  /* It will be positioned absolutely */
  position: absolute;

  /* Doesn't allow to select the content inside */
  user-select: none;
}


/* //spinner */
.loader {
  width: 30px; /* control the size */
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003,#000);
          mask: conic-gradient(from 22deg, #0003,#000);
  animation: load 1s steps(8) infinite;
}
.alt {
  animation: load 3s linear infinite;
}
.loader,
.loader:before {
  --_g: linear-gradient(#fff 0 0) 50%; /* update the color here */
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}
.loader:before {
  content: "";
  transform: rotate(45deg);
}
@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}

